body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 6rem;
    background: #e2edff;
}

#project {
    background: #e2edff;
}

section {
    padding-top: 5rem;
}

html {
    scroll-behavior: smooth;
}